# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.DS_Store

# cloudflare files
.wrangler
wrangler.jsonc
worker-configuration.d.ts

# Environment variables
.env
.env.*
!.env.example
.dev.vars

# AI
.ai
AGENTS.md

# Tanstack
.tanstack

# Alchemy
.alchemy